*{
    margin: 0;
    padding: 0;
}
body{
    background: url(ladakh.jpg);
    background-repeat: no-repeat;
    background-size: 280%;
    background-position: auto auto;

}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    paddding: 20px
    font-family: sans-serif;
}